/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
.deps/
Makefile
Makefile.in

*.a
*.o
*.so

src/examples/pairing
src/examples/radial
src/examples/slater_demo
src/examples/tabulate
src/qdot/qdot
